:root {
	--container-max-width: 1415px;
	--container-padding: 15px;

	--font-main: 'InterRegular', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--page-bg: #fff;
	--text-color: #000;
	--accent: #FB8F1D;

    // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}

// .dark {
//     --page-bg: #252526;
//     --text-color: #fff;
// }