.header-container {
	max-width: var(--container-max-width);
	margin: 0 auto;
}

.header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-top-right {
	display: flex;
}

.logo-link {
	display: inline-block;
}

.logo-link:hover {
	cursor: pointer;
}

.logo-link:focus {
	padding: 3px;
	border: 1px solid var(--accent);
	border-radius: 50%;

}

.logo-wrapper {
	display: flex;
	width: 41px;
	height: 41px;
	border-radius: 50%;
	border: 10px solid #1ABE84;
	align-items: center;
	justify-content: center;
}

.logo-center {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: var(--accent);
}

.nav-list {
	display: flex;
	font-family: 'InterRegular';
}

.nav-list li:not(:last-child) {
	margin-right: 35px;
}

.nav-item-link {
	color: #B8BECD;
	transition: all .3s ease;
}

.nav-item-link:focus,  .nav-item-link:hover {
	color: #202336;
	font-weight: 500;
	cursor: pointer;
}


.header-link {
	display: flex;
	margin-left: 34px;
	gap: 18px;
}


.header-link-item {
	padding: 8px 36px;
	border-radius: 8px;
	background-color: transparent;
	color: var(--accent);
	border: 1px solid var(--accent);
	transition: all .5s ease;
}

.header-link-item:focus,  .header-link-item:hover {
	background-color: var(--accent);
	color: white;
}

.header-link-item:active {
	box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.5);
	transform: translateY(-5px);
}



